@model IEnumerable<MVC.Models.Queue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<br />
<br />
<p>
    <a href="@Url.Action("Queue_a_notification","Queue")" class="btn btn-default">Queue a notification</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.notification_context)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.notification_context)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
